<div id="dng_banner">
	<div class="label_container">
		<div class="label">WHAT TO DO</div>
	</div>
	<h1>DATE NIGHT GUIDE</h1>
</div>

<div id="dng_share_buttons_container"></div>

<div id="dng_intro">
	<p>Looking for something different for a date night? Let us help. Search through the date ideas below. Submit your own date night ideas at <a href="mailto:contact@dayton.com?subject=I have a date night idea!">contact@dayton.com</a>.</p>
</div>

<!-- SEARCH BAR CONTAINERS -->
<div id="dng_packages_search_container">
	<div id="dng_packages_text_search_bar">
		<input type="text" onkeyup="changeDNGSearchString(this.value) " placeholder="Search for keyword, city, activity, etc.">
	</div>

	<div id="dng_packages_geolocation_search_bar">
		<div class="bar_line">
			<p>Within <input type="text" id="dng_packages_geolocation_search_input" onchange="changeDNGDistance(this.value)"> miles of your location</p>
		</div>
	</div>
</div>

<div id="dng_body"></div>