<div id="dng_banner">
	<div class="label_container">
		<div class="label">WHAT TO DO</div>
	</div>
	<h1>DATE NIGHT GUIDE</h1>
</div>

<div id="dng_share_buttons_container"></div>

<div id="dng_intro">
	<p>Looking for something different for a date night? Let us help. Search through the date ideas below. Submit your own date night ideas at <a href="mailto:contact@dayton.com?subject=I have a date night idea!">contact@dayton.com</a>.</p>
</div>

<div id="dng_packages_search_bar">
	<input type="text" onkeyup="changeDNGProperties(this.value, '', '', '')" placeholder="Search for date package keyword, city, activity, etc.">
</div>

<div id="dng_body"></div>